<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.springmovie.mapper.UserMapper">

    <!-- 根据用户名查询用户 -->
    <select id="findByUsername" resultType="example.springmovie.entity.User" parameterType="String">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <!-- 根据用户ID查询用户 -->
    <select id="selectUserById" resultType="example.springmovie.entity.User" parameterType="Long">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <!-- 插入新用户 -->
    <insert id="insertUser" parameterType="example.springmovie.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(username, password, email, is_vip, created_at)
        VALUES (#{username}, #{password}, #{email}, #{isVip}, #{createdAt})
    </insert>

    </mapper>
